@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Playfair+Display:ital,wght@1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;

}
.container{
    /* border: 5px solid black; */
    width: 30%;
    color: white;
    position: absolute;
    top: 28%;
    left: 40%;
}
.container h1{
    font-family: 'Playfair Display', serif;
    width: 100%;
    display: inline-block;
    font-size: 50px;
    border-bottom: 5px solid purple;
    margin-bottom: 20px;
    padding: 15px 0;
}
.box{
    width: 100%;
    margin: 25px 0;
    border-bottom: 2px solid purple;
}
.box input{
    font-family: 'Fuzzy Bubbles', cursive;
    background: none;
    width: 75%;
    font-size: 20px;
    padding: 6px 10px;
    outline: none;
    border: none;
    color: white;
}
.box i{
    width: 30px;
    /* float: left; */
    text-align: center;
}
.btn{
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 21px;
    background: none;
    color: white;
}
.btn:hover{
    opacity: 0.4;
    color: purple;
    background: white;
}